<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-KQX63JDD74"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-KQX63JDD74');
	</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Topic題庫網(檔案庫)</title>
    <meta name="description" content="Topic 全台灣最大的題庫網。不管你是老師還是學生都非常適合使用這網站。">
    <link rel="icon" type="image/x-icon" href="imgs/_cardbase_favicon.ico">
    <meta property="og:title" content="Topic題庫網(檔案庫)">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Topic 全台灣最大的題庫網。不管你是老師還是學生都非常適合使用這網站。">
    <meta property="og:site_name" content="Topic題庫網(檔案庫)">
    <meta property="og:locale" content="zh-Hant-TW">
    <meta property="og:image" content="https://storage.googleapis.com/topic-source/1024.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Topic題庫網(檔案庫)">
    <meta name="twitter:description" content="Topic 全台灣最大的題庫網。不管你是老師還是學生都非常適合使用這網站。">
    <meta name="twitter:site" content="@topic">
    <meta name="twitter:creator" content="@FishY">
    <meta name="twitter:image" content="https://storage.googleapis.com/topic-source/1024.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/86580c57ae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/_cardbase_style.css">
</head>
<body dir="ltr">
<tpc-app>
    <div id="content" class="tpc-app">
        <div id="masthead-container" class="tpc-app">
            <tpc-masthead-container id="masthead" class="masthead-end" role="banner">
                <div id="ticker" class="tpc-masthead"></div>
                <div id="interstitial" class="tpc-masthead"></div>
                <div id="container" class="tpc-masthead">
                    <div id="start" class="tpc-masthead">
                        <tpc-logo id="main-logo" class="tpc-masthead">
                            <a id="logo" class="tpc-simple-endpoint tpc-logo" href="/" title="Topic首頁">
                                <div class="tpc-logo">
                                    <logo class="tpc-logo">
                                        <tpc-icon id="logo-icon" class="logo">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com"
                                                 viewBox="200 300 500 500"
                                                 style="pointer-events: none; display: block;">
                                                <defs>
                                                    <style bx:fonts="Hammersmith One">@import url(https://fonts.googleapis.com/css2?family=Hammersmith+One%3Aital%2Cwght%400%2C400&amp;display=swap);</style>
                                                </defs>
                                                <path d="M 367.115 503.402 H 517.641 L 517.641 503.402 L 540.641 527.717 L 517.641 552.031 L 517.641 552.031 H 367.115 V 503.402 Z"
                                                      style="paint-order: stroke; stroke: rgb(40, 57, 86); fill: rgb(45, 66, 99);"
                                                      transform="matrix(0.999988, -0.004975, 0.004975, 0.999988, -6.614995, -93.706261)"
                                                      bx:shape="arrow 367.115 503.402 173.526 48.629 48.629 23 0 1@a26b9fd0"/>
                                                <path d="M 232.719 503.403 H 320.719 L 320.719 503.217 L 342.719 527.717 L 320.719 552.217 L 320.719 552.032 H 232.719 V 503.403 Z"
                                                      style="fill: rgb(236, 219, 186); stroke: rgb(236, 219, 186);"
                                                      transform="matrix(0.999988, -0.004975, 0.004975, 0.999988, 127.780304, -31.606264)"
                                                      bx:shape="arrow 232.719 503.217 110 49 48.629 22 0 1@b6a82ded"/>
                                                <path d="M 367.115 503.402 H 517.641 L 517.641 503.402 L 540.641 527.717 L 517.641 552.031 L 517.641 552.031 H 367.115 V 503.402 Z"
                                                      style="fill: rgb(200, 75, 49); stroke: rgb(200, 75, 49);"
                                                      transform="matrix(0.999988, -0.004975, 0.004975, 0.999988, -6.614995, 32.293743)"
                                                      bx:shape="arrow 367.115 503.402 173.526 48.629 48.629 23 0 1@a26b9fd0"/>
                                                <text style="fill: rgb(236, 219, 186); font-family: Hammersmith One,serif; font-size: 30px; line-height: 47px; stroke-width: 1px; white-space: pre;"
                                                      transform="matrix(2.716212, 0, 0, 2.802222, -635.460999, -1091.445435)"
                                                      x="360.209" y="629.185">TOPIC
                                                </text>
                                            </svg>
                                        </tpc-icon>
                                    </logo>
                                </div>
                            </a>
                        </tpc-logo>
                    </div>
                    <div id="center" class="tpc-masthead">
                        <button id="change-search" type="button" class="change" title="切換搜尋方式"
                                onclick="change_search(); recover_search()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="27px" height="27px"
                                 id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512"
                                 style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<g>
			<path d="M21.333,149.327H64c18.773,0,37.227,4.928,53.333,14.272c3.371,1.963,7.061,2.88,10.688,2.88     c7.36,0,14.528-3.819,18.475-10.624c5.931-10.197,2.432-23.253-7.744-29.163C116.117,113.594,90.283,106.66,64,106.66H21.333     C9.536,106.66,0,116.218,0,127.994S9.536,149.327,21.333,149.327z"/>
            <path d="M320,149.327h42.667v64c0,8.192,4.715,15.68,12.075,19.221c2.965,1.408,6.123,2.112,9.259,2.112     c4.757,0,9.472-1.6,13.333-4.672L504,144.655c5.056-4.053,8-10.176,8-16.661c0-6.485-2.944-12.608-8-16.661L397.333,25.999     c-6.421-5.12-15.232-6.101-22.592-2.56s-12.075,11.029-12.075,19.221v64H320c-82.325,0-149.333,66.987-149.333,149.333     c0,58.816-47.851,106.667-106.667,106.667H21.333C9.536,362.66,0,372.218,0,383.994s9.536,21.333,21.333,21.333H64     c82.325,0,149.333-66.987,149.333-149.333C213.333,197.178,261.184,149.327,320,149.327z"/>
            <path d="M504,367.336l-106.667-85.333c-6.421-5.141-15.232-6.123-22.592-2.581c-7.36,3.563-12.075,11.029-12.075,19.243v64H320     c-21.077,0-41.472-6.144-58.965-17.771c-9.856-6.485-23.061-3.861-29.568,5.973c-6.528,9.813-3.861,23.061,5.952,29.568     c24.512,16.277,53.056,24.896,82.581,24.896h42.667v64c0,8.192,4.715,15.68,12.075,19.221c2.965,1.408,6.123,2.112,9.259,2.112     c4.757,0,9.472-1.6,13.333-4.672L504,400.659c5.056-4.053,8-10.197,8-16.661C512,377.512,509.056,371.368,504,367.336z"/>
		</g>
	</g>
</g>
                                <g>
</g>
                                <g>
</g>
                                <g>
</g>
                                <g>
</g>
                                <g>
</g>
                                <g>
</g>
                                <g>
</g>
                                <g>
</g>
                                <g>
</g>
                                <g>
</g>
                                <g>
</g>
                                <g>
</g>
                                <g>
</g>
                                <g>
</g>
                                <g>
</g>
</svg>
                        </button>
                        <tpc-searchbox class="tpc-masthead" role="search">
                            <div id="form-background" class="form-bg" data-search="keyword">
                                <form id="search-form" action="/cardbase/" class="tpc-search-form">
                                    <label for="search"></label>
                                    <input id="search" name="search_query"
                                           type="text" placeholder="關鍵字搜尋" dir="ltr" autocomplete="off">
                                    <button type="submit" class="form-submit" title="搜尋">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             id="Capa_1"
                                             x="0px" y="0px" viewBox="0 0 487.95 487.95"
                                             style="enable-background:new 0 0 487.95 487.95;" xml:space="preserve">
<g>
	<g>
		<path d="M481.8,453l-140-140.1c27.6-33.1,44.2-75.4,44.2-121.6C386,85.9,299.5,0.2,193.1,0.2S0,86,0,191.4s86.5,191.1,192.9,191.1    c45.2,0,86.8-15.5,119.8-41.4l140.5,140.5c8.2,8.2,20.4,8.2,28.6,0C490,473.4,490,461.2,481.8,453z M41,191.4    c0-82.8,68.2-150.1,151.9-150.1s151.9,67.3,151.9,150.1s-68.2,150.1-151.9,150.1S41,274.1,41,191.4z"/>
	</g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
</svg>
                                    </button>
                                </form>
                            </div>
                            <div id="search-box" class="tpc-search-box">
                                <button id="open-checkbox-menu" type="button" class="open-checkbox-menu" title="根據屬性搜尋"
                                        onclick="checkbox_display()">
                                    <filler></filler>
                                    <b>屬性搜尋</b>
                                    <svg xmlns="http://www.w3.org/2000/svg" id="DownArrow" x="0px" y="0px"
                                         viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;"
                                         xml:space="preserve">
<path id="XMLID_102_"
      d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393  c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393  s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"/>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
                                        <g>
</g>
</svg>
                                </button>
                                <form id="checkbox-menu" data-open="false" action="/cardbase/">
                                    <div id="checkbox-style" class="checkbox-style">
                                        <text>科目:</text>
                                        <div class="label-sort">
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="20" name="subject">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>國文</b>
                                        </span>
                                            </label>
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="21" name="subject">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>英文</b>
                                        </span>
                                            </label>
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="22" name="subject">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>數學</b>
                                        </span>
                                            </label>
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="23" name="subject">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>生物</b>
                                        </span>
                                            </label>
                                        </div>
                                        <div class="label-sort">
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="24" name="subject">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>理化</b>
                                        </span>
                                            </label>
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="25" name="subject">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>地科</b>
                                        </span>
                                            </label>
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="26" name="subject">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>地理</b>
                                        </span>
                                            </label>
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="27" name="subject">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>公民</b>
                                        </span>
                                            </label>
                                        </div>
                                        <div class="label-sort">
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="28" name="subject">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>歷史</b>
                                        </span>
                                            </label>
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="19" name="subject">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>其他..</b>
                                        </span>
                                            </label>
                                        </div>
                                        <text>階級:</text>
                                        <div class="label-sort">
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="1" name="level">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>小一</b>
                                        </span>
                                            </label>
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="2" name="level">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>小二</b>
                                        </span>
                                            </label>
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="3" name="level">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>小三</b>
                                        </span>
                                            </label>
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="4" name="level">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>小四</b>
                                        </span>
                                            </label>
                                        </div>
                                        <div class="label-sort">
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="5" name="level">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>小五</b>
                                            </span>
                                            </label>
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="6" name="level">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>小六</b>
                                            </span>
                                            </label>
                                        </div>
                                        <div class="label-sort">
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="7" name="level">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>國一</b>
                                            </span>
                                            </label>
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="8" name="level">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>國二</b>
                                            </span>
                                            </label>
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="9" name="level">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>國三</b>
                                            </span>
                                            </label>
                                        </div>
                                        <div class="label-sort">
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="10" name="level">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>高一</b>
                                            </span>
                                            </label>
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="11" name="level">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>高二</b>
                                            </span>
                                            </label>
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="12" name="level">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>高三</b>
                                            </span>
                                            </label>
                                        </div>
                                        <div class="label-sort">
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="13" name="level">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>大學</b>
                                            </span>
                                            </label>
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="14" name="level">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>其他..</b>
                                            </span>
                                            </label>
                                        </div>
                                        <text>答案</text>
                                        <div class="label-sort">
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="%yes" name="answer">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>有答案</b>
                                            </span>
                                            </label>
                                            <label class="label">
                                                <input class="labelCheckbox" type="checkbox" value="%no" name="answer">
                                                <span class="labelText">
                                            <span class="labelCheck">
                                                <i class="fa fa-check icon"></i>
                                            </span>
                                            <b>無答案</b>
                                            </span>
                                            </label>
                                        </div>
                                        <div id="checkbox-search" class="checkbox-search">
                                            <div class="checkbox-search-button">
                                                <div class="checkbox-search-button-container">
                                                    <checkbox-search-button onclick="form_submit()">
                                                        <span class="text">搜尋</span>
                                                        <div class="icon-container">
                                                            <div class="icon icon--left">
                                                                <svg>
                                                                    <use xlink:href="#arrow-right"/>
                                                                </svg>
                                                            </div>
                                                            <div class="icon icon--right">
                                                                <svg>
                                                                    <use xlink:href="#arrow-right"/>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </checkbox-search-button>
                                                </div>
                                                <svg style="display: none;">
                                                    <symbol id="arrow-right" viewBox="0 0 20 10">
                                                        <path d="M14.84 0l-1.08 1.06 3.3 3.2H0v1.49h17.05l-3.3 3.2L14.84 10 20 5l-5.16-5z"/>
                                                    </symbol>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </tpc-searchbox>
                        <div class="tpc-upload-button">
                            <div class="tpc-upload-button-bg"></div>
                            <div class="tpc-upload-button-btn" onclick="location.href='/upload'">
                                <a href="/upload">
                                    <i class="fa-solid fa-cloud-arrow-up"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="end" class="login-display">
                    </div>
                </div>
            </tpc-masthead-container>
        </div>
        <div class="cardbase-info">
            <div class="cardbase-info-1">
                <i class="fa-solid fa-arrow-up">
                </i>
                <span>可使用搜索功能</span>
                <i class="fa-solid fa-arrow-up">
                </i>
            </div>
            <div class="cardbase-info-2">
                <i class="fa-solid fa-database">
                </i>
                <span2>檔案庫</span2>
            </div>
        </div>
        <box>
            <top>
            </top>
            <bottom>
                <detector>&emsp;</detector>
            </bottom>
        </box>
    </div>
    <tpc-popup-container class="tpc-app">
        <tpc-dropdown id="tpc-dropdown" class="tpc-popup-container" vertical-align="top" horizontal-align="auto"
                      data-open="false">
            <div id="Wrapper" class="tpc-Wrapper">
                <tpc-menu-renderer class="tpc-popup-container">
                    <div id="header" class="page-menu-renderer">
                    </div>
                    <div id="menu-container" class="menu-container">
                        <div id="sections" class="page-menu-renderer">
                            <menu-sections class="page-menu-renderer">
                                <div id="items" class="menu-sections-renderer">
                                    <tpc-menu-link-renderer class="page-menu-renderer">
                                        <a class="tpc-menu-link-renderer" href="/profile">
                                            <tpc-paper-item class="tpc-menu-link-renderer">
                                                <div class="tpc-menu-link-renderer">
                                                    <menu-item-icon class="tpc-menu-link-renderer">
                                                        <i class="fa-solid fa-address-card"></i>
                                                    </menu-item-icon>
                                                </div>
                                                <text-container class="tpc-menu-link-renderer">
                                                    <tpc-formatted-string id="label" class="tpc-menu-link-renderer">
                                                        個人資料
                                                    </tpc-formatted-string>
                                                </text-container>
                                            </tpc-paper-item>
                                        </a>
                                    </tpc-menu-link-renderer>
                                    <tpc-menu-link-renderer class="page-menu-renderer">
                                        <a class="tpc-menu-link-renderer" href="/change_password">
                                            <tpc-paper-item class="tpc-menu-link-renderer">
                                                <div class="tpc-menu-link-renderer">
                                                    <menu-item-icon class="tpc-menu-link-renderer">
                                                        <i class="fa-solid fa-key"></i>
                                                    </menu-item-icon>
                                                </div>
                                                <text-container class="tpc-menu-link-renderer">
                                                    <tpc-formatted-string id="label" class="tpc-menu-link-renderer">
                                                        更改密碼
                                                    </tpc-formatted-string>
                                                </text-container>
                                            </tpc-paper-item>
                                        </a>
                                    </tpc-menu-link-renderer>
                                    <tpc-menu-link-renderer class="page-menu-renderer">
                                        <a class="tpc-menu-link-renderer" href="/cardbase">
                                            <tpc-paper-item class="tpc-menu-link-renderer">
                                                <div class="tpc-menu-link-renderer">
                                                    <menu-item-icon class="tpc-menu-link-renderer">
                                                        <i class="fa-solid fa-database"></i>
                                                    </menu-item-icon>
                                                </div>
                                                <text-container class="tpc-menu-link-renderer">
                                                    <tpc-formatted-string id="label" class="tpc-menu-link-renderer">
                                                        檔案庫
                                                    </tpc-formatted-string>
                                                </text-container>
                                            </tpc-paper-item>
                                        </a>
                                    </tpc-menu-link-renderer>
                                    <tpc-menu-link-renderer class="page-menu-renderer">
                                        <a class="tpc-menu-link-renderer" onclick="logout()" href="/">
                                            <tpc-paper-item class="tpc-menu-link-renderer">
                                                <div class="tpc-menu-link-renderer">
                                                    <menu-item-icon class="tpc-menu-link-renderer">
                                                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                                    </menu-item-icon>
                                                </div>
                                                <text-container class="tpc-menu-link-renderer">
                                                    <tpc-formatted-string id="label" class="tpc-menu-link-renderer">登出
                                                    </tpc-formatted-string>
                                                </text-container>
                                            </tpc-paper-item>
                                        </a>
                                    </tpc-menu-link-renderer>
                                </div>
                            </menu-sections>
                        </div>
                    </div>
                </tpc-menu-renderer>
            </div>
        </tpc-dropdown>
    </tpc-popup-container>
</tpc-app>
<script src="js/_cardbase_main.js"></script>
</body>
</html>