canvas, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset, font, form, h1, h2, h3, h4, h5, h6, hr, i, iframe, img, ins, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

tpc-app {
    background: #191919;
    display: block;
    left: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

#masthead-container.tpc-app {
    top: 0;
    width: 100%;
    z-index: 2022;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

tpc-masthead {
    display: block;
    width: 100%;
    background: #191919;
}

#container.tpc-masthead {
    height: 120px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Start */

#start.tpc-masthead, #end.tpc-masthead {
    display: flex;
    flex-direction: row;
}

#start.tpc-masthead {
    align-items: center;
}

tpc-logo {
    display: flex;
    flex-direction: row;
}

tpc-icon svg {
    width: 120px;
    height: 120px;
}

#logo.tpc-logo {
    padding: 0;
    align-items: center;
    flex: none;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.tpc-simple-endpoint {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

/* Change_password */

.tpc-change_password {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
}

.tpc-change_password-menu {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
}

/* Confirm 標題 */

.menu-title {
    width: 100%;
    height: 90px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

menu-tittle {
    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #ecdbba, transparent, transparent);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 36px;
    font-family: "Noto Sans TC", sans-serif;
    animation: reveal 1000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
    user-select: none;
}

@keyframes reveal {
    80% {
        letter-spacing: 8px;
    }
    100% {
        background-size: 300% 300%;
    }
}

@keyframes glow {
    40% {
        text-shadow: 0 0 4px #eccfba;
    }
}

/* Confirm內容 */

.change_password-form {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: "Noto Sans TC", sans-serif;
}

.change_password-form .content {
    margin-top: 5px;
    margin-bottom: 15px;
    color: #f3eaea;
    opacity: 0.85;
}

.change_password-form .content .label,
.change_password-form .content .input,
.change_password-form .content .button {
    width: 100%;
    display: block;
}

.change_password-form .content .input {
    width: 460px;
    font-weight: bold;
    font-size: 16px;
}

.change_password-form .content .input,
.change_password-form .content .button {
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
}

.change_password-form .content .label {
    user-select: none;
    font-size: 20px;
}

.change_password-form .content .button {
    background: #1161ee;
    margin-top: 44px;
    font-size: 15px;
    font-family: "Noto Sans TC", sans-serif;
    height: 50px;
}

#change_password-text {
    opacity: 0;
    font-size: 17px;
}

.change_password-form .content .button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.change_password-form .content label .error {
    color: #c84b31;
    float: right;
    font-size: 17px;
}


.swal2-modal {
    background: #191919;
    border-radius: 25px;
    font-family: "Noto Sans TC", sans-serif;
    color: #c84b31;
}

.swal2-icon.swal2-warning {
    border-color: #ecdbba;
    color: #ecdbba;
}

.swal2-title {
    font-size: 40px;
}

.swal2-html-container {
    opacity: 0.7;
}

.swal2-styled.swal2-confirm {
    background-color: #c84b31;
    font-family: "Noto Sans TC", sans-serif;
}

.swal2-styled.swal2-cancel {
    background-color: #2d4263;
    font-family: "Noto Sans TC", sans-serif;
}

@media screen and (max-width: 550px){
    .tpc-change_password-menu {
        width: 400px;
    }
    .change_password-form .content .input {
        width: 360px;
    }
}

@media screen and (max-width: 430px){
    .tpc-change_password-menu {
        width: 310px;
    }
    .change_password-form .content .input {
        width: 270px;
    }
    .change_password-form .content .label {
        display: flex;
        flex-direction: column;
        margin: 5px 0;
    }
}

@media screen and (max-width: 350px){
    .tpc-change_password-menu {
        width: 270px;
    }
    .change_password-form .content .input {
        width: 230px;
    }
}
