<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-KQX63JDD74"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-KQX63JDD74');
	</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Topic題庫網(改密碼)</title>
    <meta name="description" content="Topic 全台灣最大的題庫網。不管你是老師還是學生都非常適合使用這網站。">
    <link rel="icon" type="image/x-icon" href="imgs/_change_password_favicon.ico">
    <meta property="og:title" content="Topic題庫網(改密碼)">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Topic 全台灣最大的題庫網。不管你是老師還是學生都非常適合使用這網站。">
    <meta property="og:site_name" content="Topic題庫網">
    <meta property="og:locale" content="zh-Hant-TW">
    <meta property="og:image" content="https://storage.googleapis.com/topic-source/1024.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Topic題庫網(改密碼)">
    <meta name="twitter:description" content="Topic 全台灣最大的題庫網。不管你是老師還是學生都非常適合使用這網站。">
    <meta name="twitter:site" content="@topic">
    <meta name="twitter:creator" content="@FishY">
    <meta name="twitter:image" content="https://storage.googleapis.com/topic-source/1024.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/86580c57ae.js" crossorigin="anonymous"></script>
    <script src="js/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="css/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/_change_password_style.css">
</head>
<body dir="ltr">
<tpc-app>
    <div id="head" class="tpc-app">
        <div id="masthead-container" class="tpc-app">
            <tpc-masthead-container id="masthead" class="masthead-end" role="banner">
                <div id="ticker" class="tpc-masthead"></div>
                <div id="interstitial" class="tpc-masthead"></div>
                <div id="container" class="tpc-masthead">
                    <div id="start" class="tpc-masthead">
                        <tpc-logo id="main-logo" class="tpc-masthead">
                            <a id="logo" class="tpc-simple-endpoint tpc-logo" href="/" title="Topic首頁">
                                <div class="tpc-logo">
                                    <logo class="tpc-logo">
                                        <tpc-icon id="logo-icon" class="logo">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com"
                                                 viewBox="200 300 500 500"
                                                 style="pointer-events: none; display: block;">
                                                <defs>
                                                    <style bx:fonts="Hammersmith One">@import url(https://fonts.googleapis.com/css2?family=Hammersmith+One%3Aital%2Cwght%400%2C400&amp;display=swap);</style>
                                                </defs>
                                                <path d="M 367.115 503.402 H 517.641 L 517.641 503.402 L 540.641 527.717 L 517.641 552.031 L 517.641 552.031 H 367.115 V 503.402 Z"
                                                      style="paint-order: stroke; stroke: rgb(40, 57, 86); fill: rgb(45, 66, 99);"
                                                      transform="matrix(0.999988, -0.004975, 0.004975, 0.999988, -6.614995, -93.706261)"
                                                      bx:shape="arrow 367.115 503.402 173.526 48.629 48.629 23 0 1@a26b9fd0"/>
                                                <path d="M 232.719 503.403 H 320.719 L 320.719 503.217 L 342.719 527.717 L 320.719 552.217 L 320.719 552.032 H 232.719 V 503.403 Z"
                                                      style="fill: rgb(236, 219, 186); stroke: rgb(236, 219, 186);"
                                                      transform="matrix(0.999988, -0.004975, 0.004975, 0.999988, 127.780304, -31.606264)"
                                                      bx:shape="arrow 232.719 503.217 110 49 48.629 22 0 1@b6a82ded"/>
                                                <path d="M 367.115 503.402 H 517.641 L 517.641 503.402 L 540.641 527.717 L 517.641 552.031 L 517.641 552.031 H 367.115 V 503.402 Z"
                                                      style="fill: rgb(200, 75, 49); stroke: rgb(200, 75, 49);"
                                                      transform="matrix(0.999988, -0.004975, 0.004975, 0.999988, -6.614995, 32.293743)"
                                                      bx:shape="arrow 367.115 503.402 173.526 48.629 48.629 23 0 1@a26b9fd0"/>
                                                <text style="fill: rgb(236, 219, 186); font-family: Hammersmith One,serif; font-size: 30px; line-height: 47px; stroke-width: 1px; white-space: pre;"
                                                      transform="matrix(2.716212, 0, 0, 2.802222, -635.460999, -1091.445435)"
                                                      x="360.209" y="629.185">TOPIC
                                                </text>
                                            </svg>
                                        </tpc-icon>
                                    </logo>
                                </div>
                            </a>
                        </tpc-logo>
                    </div>
                </div>
            </tpc-masthead-container>
        </div>
    </div>
    <div id="tpc-change_password" class="tpc-change_password">
        <div id="tpc-change_password-menu" class="tpc-change_password-menu">
            <div id="menu-title" class="menu-title">
                <menu-tittle>=更改密碼=</menu-tittle>
            </div>
            <form id="change_password-form" class="change_password-form" onsubmit="return ProccessFormData()">
                <div class="content">
                    <label for="code" class="label">輸入原密碼
                        <span id="code_error" class="error"></span>
                    </label>
                    <input id="code" type="password" class="input" onchange="No_Special_str();" autocomplete="off" required>
                </div>
                <div class="content">
                    <label for="code1" class="label">輸入新密碼
                        <span id="code_error1" class="error"></span>
                    </label>
                    <input id="code1" type="password" class="input" oninput="No_Special_str();" autocomplete="off" required>
                </div>
                <div class="content">
                    <label for="code2" class="label">再次輸入新密碼
                        <span id="code_error2" class="error"></span>
                    </label>
                    <input id="code2" type="password" class="input" oninput="password_repeat();" autocomplete="off" required>
                </div>
                <div class="content">
                    <input id="change_password_button" type="submit" class="button" value="發 送">
                </div>
            </form>
        </div>
    </div>
</tpc-app>
<script src="js/_change_password_main.js"></script>
</body>
</html>