canvas, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset, font, form, h1, h2, h3, h4, h5, h6, hr, i, iframe, img, ins, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}


:root {
    --icon-width: 15px;
    --icon-height: 15px;
}

/* scroll-bar */

::-webkit-scrollbar {
    width: 8px;
    background: #191919;
}

::-webkit-scrollbar-track {
    background-color: #191919;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(254, 251, 246, 0.4);
    border-radius: 10px;
}

/* main */

tpc-app {
    background: #191919;
    display: block;
    left: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

#masthead-container.tpc-app {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2022;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

#masthead-container.tpc-app::after {
    content: "";
    height: 5px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 2023;
    bottom: 0;
    left: 0;
}

tpc-masthead {
    display: block;
    width: 100%;
    background: #191919;
}

#container.tpc-masthead {
    height: 120px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #191919;
    user-select: none;
}

/* Start */

#start.tpc-masthead, #end.tpc-masthead {
    display: flex;
    flex-direction: row;
}

#start.tpc-masthead {
    align-items: center;
}

tpc-logo {
    display: flex;
    flex-direction: row;
}

tpc-icon svg {
    width: 120px;
    height: 120px;
}

#logo.tpc-logo {
    padding: 0;
    align-items: center;
    flex: none;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.tpc-simple-endpoint {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

/* Center */
#center.tpc-masthead {
    display: flex;
    align-items: center;
    margin-right: 120px;
}

button.change {
    cursor: pointer;
    background: #2f2f2f;
    border: 0;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    fill: #e3e3e3;
}

button.change:hover {
    background-color: #5e5e5e;
}

/* Form-Search */
#form-background.form-bg {
    display: block;
    width: 400px;
    background: #2f2f2f;
    border-radius: 60px;
}

#search-form.tpc-search-form {
    display: flex;
    padding: 10px 20px;
}

#search-form input {
    width: 100%;
    background: transparent;
    color: #d1d1d1;
    border: 0;
    outline: none;
    font-size: 23px;
    text-align: center;
    font-weight: bold;
    margin: 0 0 0 35px;
}

#search-form input:focus::placeholder {
    color: transparent;
}

::placeholder {
    font-weight: bold;
    font-size: 23px;
}

button.form-submit {
    cursor: pointer;
    background: #2f2f2f;
    border: 0;
    border-radius: 50px;
    width: 38px;
    height: 38px;
}

button.form-submit:hover {
    background-color: #5e5e5e;
}

/* Checkbox-Search */
#search-box.tpc-search-box {
    display: none;
    flex-direction: column;
}

#open-checkbox-menu.open-checkbox-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 58px;
    background-color: #2f2f2f;
    border-radius: 60px;
    border: 0;
}

#open-checkbox-menu:hover {
    background-color: #5e5e5e;
}

#open-checkbox-menu.open-checkbox-menu b {
    margin-bottom: 3px;
}

#open-checkbox-menu b {
    color: #d1d1d1;
    font-size: 23px;
    margin-left: 45px;
}

#open-checkbox-menu svg {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    transform: rotate(0deg);
}


#checkbox-style {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #2f2f2f;
    z-index: 2025;
    border-radius: 0 0 30px 30px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.99;
}

#checkbox-style text {
    font-weight: bold;
    font-size: 30px;
    margin-left: 5px;
    color: #f9ffff;
}

#checkbox-style text:nth-of-type(2) {
    margin-top: 5px;
    margin-bottom: 3px;
}

.label-sort {
    display: inline;
    margin-top: 2px;
}

.labelCheckbox {
    display: none;
}


.labelText span, .labelText b {
    float: left;
    margin-top: 2px;
}

.labelText b {
    color: #dbdbdb;
    display: flex;
    margin-left: 3px;
    font-size: 19px;
}

.labelCheck {
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.1);
    background: #2f2f2f;
    width: var(--icon-width);
    height: var(--icon-height);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
}

i.icon {
    opacity: 0.2;
    font-size: 15px;
    color: transparent;
    transition: opacity .3s .1s ease;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}

.labelCheckbox:checked + .labelText .labelCheck {
    animation: check .3s cubic-bezier(0.895, 0.030, 0.685,
    0.220) forwards;
}

.icon {
    opacity: 1;
    transform: scale(0);
    color: #f6f6f6;
    -webkit-text-stroke: 0 rgba(0, 0, 0, 1);
    animation: icon .3s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards;
}

@keyframes icon {
    0% {
        opacity: 0.2;
        transform: scale(0.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
        color: #f6f6f6;
    }
}


@keyframes check {
    0% {
        width: calc(var(--icon-width) + 10px);
        height: calc(var(--icon-height) + 10px);
        border: 0;
        opacity: 0.2;
    }
    25% {
        opacity: 0.4;
    }
    50% {
        background: #3562ab;
        opacity: 0.6;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        width: calc(var(--icon-width) + 10px);
        height: calc(var(--icon-height) + 10px);
        background: #3562ab;
        border: 0;
        opacity: 1;
    }
}

/* 搜尋button */
#checkbox-search.checkbox-search {
    width: 380px;
}

.checkbox-search-button-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-search-button-container:nth-child(1) {
    --btn-bg: #2d4263;
}

checkbox-search-button {
    --width: 135px;
    --height: 50px;
    border: 0;
    position: relative;
    min-width: var(--width);
    min-height: var(--height);
    border-radius: var(--height);
    color: #fff;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bold;
    background: #222222;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 10px auto;
}

checkbox-search-button .text,
checkbox-search-button .icon-container {
    position: relative;
    z-index: 2;
}

checkbox-search-button .icon-container {
    --icon-size: 23px;
    position: relative;
    width: var(--icon-size);
    height: var(--icon-size);
    margin-left: 20px;
    transition: transform 500ms ease;
}

checkbox-search-button .icon-container .icon {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--icon-size);
    height: var(--icon-size);
    transition: transform 500ms ease, opacity 250ms ease;
}

checkbox-search-button .icon-container .icon--left {
    transform: translateX(-200%);
    opacity: 0;
}

checkbox-search-button .icon-container .icon svg {
    width: 100%;
    height: 100%;
    fill: #fff;
}

checkbox-search-button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--btn-bg);
    border-radius: var(--height);
    z-index: 1;
    transition: transform 500ms ease;
}

checkbox-search-button:hover::after {
    transform: translateX(65%);
}

checkbox-search-button:hover .icon-container {
    transform: translateX(65%);
}

checkbox-search-button:hover .icon-container .icon--left {
    transform: translateX(0);
    opacity: 1;
}

checkbox-search-button:hover .icon-container .icon--right {
    transform: translateX(200%);
    opacity: 0;
}

/* 上傳button */

.tpc-upload-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.tpc-upload-button-bg,
.tpc-upload-button-btn {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.tpc-upload-button-bg {
    animation: pulse 1.2s ease infinite;
    background: #c84b31;
}

.tpc-upload-button-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99;
    border: none;
    background: #c84b31;
    background-size: 18px;
    cursor: pointer;
    outline: none;
}

.tpc-upload-button-btn a {
    position: absolute;
    color: #fff;
    font-size: 17px;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    50% {
        opacity: 0.3;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}


/* End */

.cardbase-info {
    font-family: "Noto Sans TC", sans-serif;
    color: #ecdbba;
    font-size: 40px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cardbase-info div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardbase-info .cardbase-info-1 {
    margin: 0 0 20px 0;
}

.cardbase-info .cardbase-info-1 i {
    font-size: 25px;
    color: white;
    margin: 0 10px;
}

.cardbase-info span {
    color: white;
    font-size: 20px;
}

.cardbase-info span2 {
    font-size: 30px;
    margin-left: 10px;
    letter-spacing: 1px;
}

.login-display {
    display: grid;
    font-family: "Noto Sans TC", sans-serif;
}

/* un-logged-in */
.un-logged-in {
    position: absolute;
    left: calc(100% - 120px);
    top: 35px;
    width: 110px;
}

.cta {
    text-decoration: none;
    display: flex; /*flex*/
    color: #ecdbba;
    align-items: center;
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    background: rgba(200, 75, 49, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    right: 10px;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
    color: transparent;
}

.cta:hover:before {
    width: 100%;
    background: #c84b31;
}

.cta:hover svg {
    transform: translateX(0);
    stroke: #ecdbba;
}

.cta:active {
    transform: scale(0.96);
}

/* logged-in */

.tpc-profile-btn {
    display: flex; /* flex */
    padding: 1px 0;
    position: absolute;
    left: calc(100% - 90px);
    top: 35px;
}

.profile-button {
    background: none;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img-show {
    width: 48px;
    height: 48px;
    cursor: pointer;
    margin: 0 8px;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
}

profile-img-show img {
    display: block;
    width: 48px;
    height: 48px;
}

profile-img-show img:hover {
    opacity: 0.7;
}

body {
    background-color: #191919;
}

/* popup */
tpc-popup-container {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
}

tpc-dropdown {
    display: none;
    outline: none;
    position: fixed;
    left: calc(100% - 195px);
    top: 95px;
    z-index: 2030;
}

tpc-menu-renderer {
    outline: none;
    box-sizing: border-box;
    width: 300px;
    height: 735px;
}

#header.page-menu-renderer {
    flex: none;
}

tpc-account-header-renderer {
    background-color: #212121fa;
    border-bottom: 1px solid #ffffff1a;
    box-sizing: border-box;
    position: relative;
    padding: 16px;
    display: flex;
    flex-direction: row;
    border-radius: 20px 20px 0 0;
}

#avatar.avatar-renderer {
    height: 42px;
    width: 42px;
    margin-right: 16px;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
}

#avatar-img.avatar-img {
    height: 42px;
    width: 42px;
    margin-left: auto;
    margin-right: auto;
    max-height: none;
    max-width: 100%;
}

#profile-container.tpc-account-header-renderer {
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

profile-name.tpc-account-header-renderer {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 23px;
    color: #fff;
}

#menu-container.menu-container {
    overflow: auto;
}

menu-sections {
    border-bottom: 1px solid #ffffff1a;
    background: rgb(25 25 25 / 99%);
    display: block;
    border-radius: 0 0 15px 15px;
    padding: 8px 0 15px;
}

tpc-menu-link-renderer {
    --paper-item-min-height: 40px;
    display: block;
}

a.tpc-menu-link-renderer {
    display: block;
    cursor: pointer;
    text-decoration: none;
}

tpc-paper-item {
    color: #d1d1d1;
    padding: 0 36px 0 16px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-family: "Noto Sans TC", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    min-height: 48px;
}

tpc-paper-item:hover {
    background: #323232;
}

tpc-paper-item div.tpc-menu-link-renderer {
    margin-right: 16px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex: none;
}

menu-item-icon i {
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100%;
}

text-container.tpc-menu-link-renderer {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: 0;
}

#label.tpc-menu-link-renderer {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 20px;
    font-weight: 400;
}


/* sort_box */
#sort-menu-container {
    position: absolute;
    display: flex;
    width: 100%;
}

#sort-menu-container .sort-menu-frame {
    padding-left: 32px;
    margin-left: 25px;
    height: 120px;
}

/* trigger */

#sort-menu-container .sort-menu-frame .trigger {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sort-menu-container .sort-menu-frame .trigger #trigger-button {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #2f2f2f;
    border-radius: 15px;
    border-color: transparent;
    color: rgba(255, 255, 255, 0.9);
    width: 130px;
    padding-left: 15px;
}

#sort-menu-container .sort-menu-frame .trigger ul {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: underline;
    margin-left: 10px;
}

#sort-menu-container .sort-menu-frame .trigger #trigger-button:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

#sort-menu-container .sort-menu-frame .trigger #trigger-button i {
    font-size: 17px;
    margin-right: 4px;
}

#sort-menu-container .sort-menu-frame .trigger #trigger-button text {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 2px;
}

/* options */

#sort-menu-container .options {
    perspective: 1000px;
    position: fixed;
    z-index: 2022;
    list-style: none;
    -webkit-animation: rotateMenu 400ms ease-in-out forwards;
    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;
    background: #2f2f2f;
    padding: 5px 0 10px 0;
    border-radius: 0 0 15px 15px;
    margin-top: -1px;
    display: none;
}

#sort-menu-container .options li {
    font-family: "Noto Sans TC", sans-serif;
    background: #2f2f2f;
    width: 110px;
    margin: 3px 0;
    padding: 2px 10px;
    color: white;
    text-align: center;
}

#sort-menu-container .options li:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

/* cards */

box {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, 0%);
}


.page-contain {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #191919;
    padding: 32px;
    font-family: "Noto Sans TC", sans-serif;
    /*
    flex-direction: column;
    */
}

.data-card {
    display: flex;
    width: 278px;
    height: 370px;
    margin: 16px 25px 16px 25px;
    font-family: "Noto Sans TC", sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

background {
    width: 278px;
    height: 370px;
    border-radius: 12px;
    background: white;
    box-shadow: 0 24px 40px -8px rgba(0, 0, 0, 0.5);
    transition: transform 0.45s ease, background 0.45s ease;
    z-index: 1;
    cursor: pointer;
}

.data-card:hover background {
    background: #ecdbba;
    transform: scale(1.02);
}

.paper-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 278px;
    height: 350px;
    z-index: 2;
}

.title {
    padding: 30px 0 0 35px;
    font-size: 50px;
    transition: color 0.45s ease, transform 0.45s ease;
    cursor: pointer;
}

.data-card:hover .title {
    color: #c84b31;
}

.data-card hr {
    margin: 0 30px 0 30px;
    border: 3px solid #fff;
    border-radius: 4px;
}

.name-box {
    border-radius: 3px;
    height: 110px;
    margin: 5px 10px 0 10px;
    padding: 0 20px 0 20px;
    transition: border-color 0.45s ease;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.name {
    height: 110px;
    font-size: 25px;
    transition: transform 0.45s ease;
    padding: 0 5px 0 5px;
}

.tag-box {
    display: flex;
    height: 77px;
    flex-direction: column;
    margin: 0 10px 0 10px;
    padding: 0 20px 0 20px;
    cursor: pointer;
}

.tags {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.tag-box .tags tag {
    margin-left: 5px;
    padding: 1px 4px 1px 4px;
    border-radius: 10px;
    color: black;
}

.tag-box .tags tag.tag_level {
    background: #f08080;
}

.tag-box .tags tag.tag_subject {
    background: #fff173;
}

.tag-box .tags tag.tag_answer {
    background: #abd4ff;
}

.card-bottom {
    height: 55px;
    display: flex;
    margin: 0 10px 0 10px;
    padding: 0 20px 0 20px;
    cursor: pointer;
}

.card-bottom .card-min-profile {
    display: flex;
    align-items: flex-end;
    margin: 0 0 1px 0;
}


.card-bottom .card-min-profile .profile-img {
    border-radius: 12px;
    width: 50px;
    height: 50px;
}

.card-bottom .card-min-profile .profile-name-time {
    margin: 0 0 0 5px;
}

.card-bottom .card-min-profile .profile-name-time .profile-name {
    font-size: 16px;
    color: #062C30;
}

.card-bottom .card-min-profile .profile-name-time .profile-time {
    font-size: 13px;
    color: #062C30;
}

.card-bottom .card-views {
    display: flex;
    align-items: flex-end;
    margin: 0 0 0 15px;
    cursor: pointer;
}

.card-bottom .card-views .card-views-box {
    display: flex;
    align-items: center;
}

.card-bottom .card-views i {

}

.card-bottom .card-views .views {
    margin: 0 0 1px 4px;
}

.card-bottom .card-views text {
    margin: 0 0 1px 1px;
}

.button-box {
    position: relative;
}

.button-box .multi-button {
    position: absolute;
    padding: 3px;
    border-radius: 0% 80% 80% 0%;
    right: 50px;
    width: 0px;
    height: 0px;
}

.button-box .multi-button button {
    position: relative;
    width: 32px;
    height: 32px;
    border: none;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
}

.data-card:hover .button-box .multi-button button:first-child:nth-last-child(3):nth-child(1),
.data-card:hover .button-box .multi-button button:first-child:nth-last-child(3)~*:nth-child(1) {
    -webkit-transform: translate(110%, 0%);
    -moz-transform: translate(110%, 0%);
    transform: translate(110%, 0%);
    -webkit-transition: 0.25s ease;
    -moz-transition: 0.25s ease;
    transition: 0.25s ease;
}

.button-box .multi-button button:nth-child(1) {
    color: #4E9F3D;
}

.button-box .multi-button button:nth-child(1):hover {
    color: #fff;
    background: #4E9F3D;
}

.button-box .multi-button button:nth-child(3) {
    color: #1F6F8B;
}

.data-card:hover .button-box .multi-button button:first-child:nth-last-child(3):nth-child(2),
.data-card:hover .button-box .multi-button button:first-child:nth-last-child(3)~*:nth-child(2) {
    transform: translate(110%, 0%);
    transition: 0.4s ease;
}

.button-box .multi-button button:nth-child(3):hover {
    color: #fff;
    background: #1F6F8B;
}

.button-box .multi-button button:nth-child(5) {
    color: #CF7500;
}

.data-card:hover .button-box .multi-button button:first-child:nth-last-child(3):nth-child(3),
.data-card:hover .button-box .multi-button button:first-child:nth-last-child(3)~*:nth-child(3) {
    -webkit-transform: translate(110%, 0%);
    -moz-transform: translate(110%, 0%);
    transform: translate(110%, 0%);
    -webkit-transition: 0.55s ease;
    -moz-transition: 0.55s ease;
    transition: 0.55s ease;
}

.button-box .multi-button button:nth-child(5):hover {
    color: #fff;
    background: #CF7500;
}

.button-box .multi-button button:hover {
    box-shadow: 0 0 10px 8px rgba(255, 255, 255, 0.2);
}

.data-card:hover .multi-button {
    left: -20px;
    width: 40px;
    height: 350px;
    -webkit-transform: translate(50%, 0%);
    -moz-transform: translate(50%, 0%);
    transform: translate(50%, 0%);
    -webkit-transition: 0.30s ease;
    -moz-transition: 0.30s ease;
    transition: 0.30s ease;
}

box top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

box bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

box bottom detector {
    font-family: "Noto Sans TC", sans-serif;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}

box bottom detectorOFF {
    font-family: "Noto Sans TC", sans-serif;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* water-wave */
.lds-ripple {
    bottom: 20px;
    position: relative;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #c84b31;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.7s;
}

@keyframes lds-ripple {
    0% {
        top: 16px;
        left: 16px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 16px;
        left: 16px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 16px;
        left: 16px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 0;
        width: 32px;
        height: 32px;
        opacity: 0;
    }
}


/* spin */

.lds-ring {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 3px;
    border: 3px solid;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgba(255, 255, 255, 1) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

search-none {
    font-size: 30px;
}

.load-more-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Noto Sans TC", sans-serif;
    color: #bdc1c6;
    height: 24px;
    font-size: 15px;
    width: 90%;
    border: 1px solid #70757a;
    border-radius: 25px;
    padding: 8px 13px;
    margin: 16px 16px 22px 16px;
}


@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@-webkit-keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg);
    }
    70% {
        transform: rotateX(20deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg);
    }
    70% {
        transform: rotateX(20deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

@media screen and (max-width: 800px) {
    #masthead-container.tpc-app {
        position: relative;
    }

    #container.tpc-masthead {
        flex-direction: column;
    }

    #center.tpc-masthead {
        margin-right: 0;
    }

    box {
        top: 380px;
    }

    #sort-menu-container .options {
        -webkit-animation: none;
        -moz-animation: none;
        animation: none;
        -webkit-transform-origin: unset;
        -moz-transform-origin: unset;
        transform-origin: unset;
    }

    search-none {
        font-size: 24px;
    }
}

@media screen and (max-width: 595px) {
    #form-background.form-bg {
        width: 265px;
    }

    #open-checkbox-menu.open-checkbox-menu {
        width: 265px;
    }

    #checkbox-style {
        width: 245px;
    }

    #checkbox-search.checkbox-search {
        width: 250px;
    }

    search-none {
        font-size: 17px;
    }
}

@media screen and (max-width: 460px) {
    #form-background.form-bg {
        width: 200px;
    }

    #search-form input {
        margin: 0;
    }

    #open-checkbox-menu.open-checkbox-menu {
        width: 200px;
    }

    #checkbox-style {
        width: 180px;
    }

    #checkbox-search.checkbox-search {
        width: 185px;
    }

    #open-checkbox-menu b {
        margin-left: 15px;
    }

    #checkbox-style text {
        font-size: 20px;
    }

    .labelText b {
        font-size: 13px;
    }

    i.icon {
        font-size: 10px;
    }

    :root {
        --icon-width: 7px;
        --icon-height: 7px;
    }

    checkbox-search-button {
        --width: 115px;
        --height: 40px;
    }
}

@media screen and (max-width: 400px) {
    #form-background.form-bg {
        width: 170px;
    }

    #open-checkbox-menu.open-checkbox-menu {
        width: 170px;
    }

    #search-form input {
        font-size: 15px;
    }

    #search-form input::placeholder {
        font-size: 15px;
    }

    #checkbox-style {
        width: 150px;
    }

    #checkbox-search.checkbox-search {
        width: 155px;
    }

    #open-checkbox-menu b {
        margin-left: 10px;
        font-size: 15px;
    }

    #checkbox-style text {
        font-size: 18px;
    }

    .labelText b {
        font-size: 11px;
    }

    i.icon {
        font-size: 10px;
    }

    :root {
        --icon-width: 5px;
        --icon-height: 5px;
    }

    checkbox-search-button {
        --width: 115px;
        --height: 35px;
    }
}
